* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding-top: 58px;
  display: flex;
  flex-direction: column;
  background-color: rgba(144, 238, 144, 0.3);
}

header {
  z-index: 999;
  height: 58px;
  box-sizing: border-box;
  background-color: lightgreen;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: #000 1px 1px 2px;
  cursor: pointer;
}

.preloader {
  display: none;
  flex: 1;
  width: fit-content;
  margin-top: 58px;
  align-self: center;
  align-items: center;
  font-size: 48px;
  font-family: monospace;
  color: forestgreen;
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}
.preloader:before {
  content: "Loading...";
}
@keyframes l4 {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}

.overlayLoader {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(000, 000, 000, 0.6);
  backdrop-filter: blur(2px);
  z-index: 10;
}

.overlayLoader .preloader {
  display: flex;
  flex: 0 0 auto;
  width: fit-content;
  align-self: center;
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}

.errorContainer {
  display: none;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: red;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px darkgreen;
  background-color: #f3f3f3;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid darkgreen;
  font-size: 18px;
  color: darkgreen;
}

.modalCharacterContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modalFooter {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.characters {
  display: flex !important;
  flex: 1;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
}

.characterList {
  display: grid;
  gap: 30px;
}

article {
  display: grid;
  grid-template-columns: minmax(0, 21%) 1fr;
  grid-template-areas: "image info";
  column-gap: 15px;
  background-color: #f3f3f3;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

article:hover {
  box-shadow: 0 0 10px darkgreen;
  transform: scale(1.02);
  transition: box-shadow 0.3s, transform 0.3s;
}

.informationContainer {
  display: grid;
  grid-template-areas:
    "name nameValue"
    "status statusValue";
  grid-template-rows: min-content min-content;
  grid-template-columns: max-content auto;
  margin-top: 10px;
  font-size: clamp(13px, 2vw, 17px);
  gap: clamp(6px, 1.5vw, 10px);
  color: darkgreen;
  grid-area: info;
}

img {
  width: 100%;
  grid-area: image;
}

.name {
  font-weight: bold;
  grid-area: name;
}

.status {
  font-weight: bold;
  grid-area: status;
}

.nameValue {
  text-align: center;
  grid-area: nameValue;
}

.statusValue {
  grid-area: statusValue;
}

.name,
.status {
  font-weight: bold;
}

button {
  border-radius: 7px;
  background-color: darkgreen;
  color: #f3f3f3;
  padding: 5px 10px;
  border: none;
  outline: none;
  font-weight: bold;
}

button:not(:disabled):hover {
  background-color: forestgreen;
  color: #fff;
  cursor: pointer;
}

button:disabled {
  background-color: transparent;
  color: #7c978c;
  cursor: not-allowed;
}

.upButton {
  position: fixed;
  bottom: 150px;
  right: 50px;
  padding: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: lightgreen;
  color: darkgreen;
  box-shadow: 0 0 10px #000;
  opacity: 0;
  pointer-events: none;
  will-change: transform;
  transform: scale(0.7);
  transition: background-color 0.3s, color 0.3s, opacity 0.4s ease,
    transform 0.4s ease;
}

.upButton.visible {
  opacity: 1;
  transform: scale(1);
  animation-delay: 0.3s !important;
  animation: pulse 1.2s infinite linear;
  pointer-events: auto;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.arrow {
  display: inline-block;
  width: 20px;
  height: 25px;
  background: currentColor;
  clip-path: polygon(
    50% 0%,
    93% 46%,
    62% 46%,
    62% 100%,
    38% 100%,
    38% 46%,
    7% 46%
  );
}

@media (max-width: 480px) {
  body {
    padding-top: 42px;
  }

  header {
    height: 42px;
  }

  h1 {
    font-size: 16px;
  }

  h3 {
    font-size: 14px;
  }

  .preloader {
    font-size: 32px;
    margin-top: 42px;
  }

  .modalContent {
    font-size: 16px;
  }

  .modalFooter {
    padding: 6px;
  }

  article {
    grid-template-columns: 30% 1fr;
  }

  .upButton {
    width: 40px;
    height: 40px;
    bottom: 100px;
    right: 20px;
  }

  .arrow {
    width: 15px;
    height: 20px;
  }
}
