* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding-top: 58px;
  padding-bottom: 58px;
  display: flex;
  flex-direction: column;
  background-color: rgba(144, 238, 144, 0.3);
}

header {
  height: 58px;
  box-sizing: border-box;
  background-color: lightgreen;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: #000 1px 1px 2px;
  cursor: pointer;
}

.loader {
  display: flex;
  flex: 1;
  width: fit-content;
  align-self: center;
  align-items: center;
  font-size: 48px;
  font-family: monospace;
  color: forestgreen;
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}
.loader:before {
  content: "Loading...";
}
@keyframes l4 {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}

#errorContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: red;
}

#characters {
  display: flex !important;
  flex: 1;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}

#characterList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

article {
  display: flex;
  flex-direction: row;
  background-color: #f3f3f3;
  border-radius: 10px;
}

.informationContainer {
  margin: 10px;
  font-size: 18px;
  color: darkgreen;
}

#name,
#status {
  font-weight: bold;
}

footer {
  height: 58px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: lightgreen;
}

button {
  border-radius: 7px;
  background-color: darkgreen;
  color: #f3f3f3;
  padding: 5px 10px;
  border: none;
  font-weight: bold;
}

button:not(:disabled):hover {
  background-color: forestgreen;
  color: #fff;
  cursor: pointer;
}

button:disabled {
  background-color: transparent;
  color: #7c978c;
  cursor: not-allowed;
}

.current {
  font-size: 20px;
  color: #fff;
  text-shadow: #000 1px 1px 1px;
}

.upButton {
  position: fixed;
  bottom: 150px;
  right: 50px;
  padding: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: lightgreen;
  color: darkgreen;
  box-shadow: 0 0 10px #000;
  opacity: 0;
  pointer-events: none;
  will-change: transform;
  transform: scale(0.7);
  transition: background-color 0.3s, color 0.3s, opacity 0.4s ease,
    transform 0.4s ease;
}

.upButton.visible {
  opacity: 1;
  transform: scale(1);
  animation-delay: 0.3s !important;
  animation: pulse 1.2s infinite linear;
  pointer-events: auto;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.arrow {
  display: inline-block;
  width: 20px;
  height: 25px;
  background: currentColor;
  clip-path: polygon(
    50% 0%,
    93% 46%,
    62% 46%,
    62% 100%,
    38% 100%,
    38% 46%,
    7% 46%
  );
}
